@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Ubuntu&family=Varela+Round&display=swap");

body {
  background-color: #00cec9
}

* {
  margin: 0;
  padding: 0;

}
nav {
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Ubuntu", sans-serif;
  /* font-family: 'Varela Round', sans-serif; */
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 60px;
  background-color: black;
  color: white;
}
nav ul li {
  padding: 0 12px;
}

.brand img {
  width: 40px;
  padding: 0 8px;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.container {
  min-height: 70vh;
  background-color: black;
/* background-color: red; */
  color: white;
  font-family: "Varela Round", sans-serif;
  display: flex;
  width: 70%;
  margin: 23px auto;
  border-radius: 12px;
  padding: 32px;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
}

.bottom {
  position: sticky;
  height: 120px;
  background-color: black;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}
.icons {
  margin-top: 24px;
}
.icons i {
  cursor: pointer;
margin-top: 20px;
  
}

#myProgressBar {
  width: 80vw;
  cursor: pointer;
}

.songItemContainer {
  margin-top: 90px;
}

.songItem {
  height: 50px;
  display: flex;
  background-color: white;
  color: black;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 33px;
}
.songItem:hover{
  background-color: #00cec9;
  cursor: pointer;
}

.songItem img {
  width: 46px;
  margin: 0 23px;
  border-radius: 25px;
}

.timestamp {
  margin: 0 23px;
}
.timestamp i {
  margin: 0 23px;
  cursor: pointer;
}
.songInfo {
  display: flex;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 35px;
  left: 10vw;
  font-family: "Varela Round", sans-serif;
}
.songInfo span{
 position: absolute;
 left: 200px;
}
.songInfo img {
  opacity: 0;
  transition: opacity 0.8s ease-in;
}

@media screen and (max-width: 600px) {
  .container{
    background-color: red;
    color: blue;
    display: flex;
    text-align: center;
    font-size: 15px;
    flex-direction: column;
    gap: 13px;
    background-image: url("bg.jpg");
    /* background-repeat: no-repeat; */
  }
}